
.p-right__15px {
    padding-right: 15px;
}
  
.margin-bottom__100px {
    margin-bottom: 100px;
}
  
.margin-bottom__20px {
    margin-bottom: 20px;
}
  
.margin-top__100px {
    margin-top: 100px;
}
  
.weidth_100 {
    width: 100%;
}
  
.position__rel {
    position: relative;
}
  
.position__abs_carousel {
    position: absolute;
    top: 850px;
}
header {
    margin: 25px auto;
}  