* {
  margin: 0;
  padding: 0;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  line-height: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 900;
  text-align: left;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 0px;
  color: #222222;
  font-weight: 900;
}

h3 {
  font-size: 54px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  color: #fbfbfb;
  font-weight: 700;
}

.galery-text {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0px;
  color: #222222;
  font-weight: 900;
}

.galery-text_pink {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0px;
  color: #f16d7f;
  font-weight: 900;
}

.text_pink {
  color: #f16d7f;
}

.form-text {
  color: #2f2f2f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.offer-text {
  font-size: 30px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.odds-text {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #fbfbfb;
  font-weight: 300;
}

.accost-text {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #222224;
  font-weight: 400;
  font-style: italic;
}

.form input {
  color: #222224;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

.brand-info {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 1.5rem;
}

.footer-nav_list p {
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}

.p-right__15px {
  padding-right: 15px;
}

.margin-bottom__100px {
  margin-bottom: 100px;
}

.margin-bottom__20px {
  margin-bottom: 20px;
}

.margin-top__100px {
  margin-top: 100px;
}

.weidth_100 {
  width: 100%;
}

.position__rel {
  position: relative;
}

.position__abs_carousel {
  position: absolute;
  top: 850px;
}

.custom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  padding: 11px 20px;
  background-color: #f16d7f;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  border: 1px solid #f16d7f;
}

.custom-button .fa-arrow-right {
  margin-left: 9px;
}

.custom-button:hover {
  background-color: #ffffff;
  color: #f16d7f;
}

.fas-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  padding: 11px 20px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 15px;
  color: #f16d7f;
  font-weight: 400;
  font-family: "Lato";
  border: 1px solid #f16d7f;
}

.fas-button:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.button-products {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 26px;
}

.carousel-button {
  background-color: #2a2a2a;
  top: 50%;
  padding: 11px 18px;
  font-size: 20px;
}

.custom-button__addToCart {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.custom-button__addToCart p {
  padding-left: 15px;
}

.button_subscribe {
  height: 45px;
  font-size: 16px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

header {
  margin: 25px auto;
}

.custom-container {
  overflow: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-container_one-column {
  overflow: auto;
  max-width: 1140px;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__displeyFlex__jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weidth_100 {
  width: 100%;
}

.position__rel {
  position: relative;
}

.position__abs_carousel {
  position: absolute;
  top: 850px;
}

.bakcground_grey {
  background-color: grey;
}

.bakcground_white {
  background-color: white;
}

.header-left {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.galery-text-block {
  background-color: #ffffff;
  position: absolute;
  margin-top: 25px;
  padding: 18px 20px;
}

.galery2_background {
  width: 100%;
  height: 260px;
  background-color: #dadad2;
}

.galery2__position {
  position: absolute;
  right: 0;
  top: 0;
}

.brand-logo {
  width: 165px;
  height: 51px;
  margin-right: 36px;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browse {
  display: block;
  position: relative;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-left: 17px;
}

.browse:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.browse summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  letter-spacing: 0.35px;
}

.browse-list__box {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  border: 1px solid #e8e8e8;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.browse ul {
  list-style: none;
}

.browse li {
  display: block;
  color: #646464;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  padding: 10px 20px;
}

.browse li:hover {
  color: #f16d7f;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '\25B6';
  padding-right: 0.5em;
  color: #838383;
  padding-left: 10px;
}

details[open] > summary::after {
  content: '\25BC';
}

.header-form input[type="text"] {
  width: 317px;
  height: 38px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-left: 17px;
}

.header-right {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.account {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
}

.account:after {
  content: '\25BC';
  padding-right: 0.5em;
  color: #ffffff;
  padding-left: 10px;
}

.menu-container {
  width: 100%;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  height: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 26px;
  color: #222222;
  font-weight: 700;
}

.menu-list {
  list-style-type: none;
  position: relative;
}

.menu-list:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list .menu-list:hover .mega-box__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.mega-box {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.mega-box__last {
  right: 0;
}

.mega-box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.mega-box__first::before {
  left: 36px;
}

.mega-box__last::before {
  right: 36px;
}

.item-heading {
  color: #6F6E6E;
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.mega-item {
  margin-right: 45px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-list {
  list-style-type: none;
}

.mega-link {
  display: block;
  color: #646464;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.mega-link:hover {
  color: #f16d7f;
}

.Page-header {
  background-color: #f8f3f4;
  display: block;
  height: 148px;
  padding: 65px auto;
}

.custom-container_height-148 {
  height: 148px;
}

.Page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f16d7f;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumb {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #636363;
  font-family: "Lato Light";
  font-weight: 300;
  margin: 0;
}

.breadcrumb a {
  text-decoration: none;
  color: #636363;
  font-family: "Lato Light";
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.breadcrumb a:hover {
  color: #f16d7f;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f16d7f;
  font-family: "Lato - Bold";
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.custom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 597px;
  max-width: 724px;
}

.singlePage-carousel {
  height: 1200px;
}

.custom-container__jc-center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-container__jc-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.grey-border {
  border: 1px solid #eaeaea;
}

.collection-box {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 618px;
  border-bottom: 1px solid #bcbcbc;
}

.collection-type {
  padding-top: 70px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.collection-slogan {
  margin-top: 18px;
  color: #4d4d4d;
  font-family: "Lato - Black";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.product-description {
  margin-top: 28px;
  margin-right: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  width: 620px;
}

.materialAndDesigner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-name {
  margin-top: 28px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.feature {
  color: #b9b9b9;
}

.name {
  color: #2f2f2f;
}

.productCard-price {
  margin: 40px auto;
  color: #ef5b70;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

.order {
  margin: 60px  auto 120px auto;
  width: 537px;
}

.order-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.order-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner {
  background-color: #e8e8e8;
  height: 613px;
}

.banner-block {
  height: 100%;
  width: 100%;
  background-image: url(img/banner.jpg);
  background-size: auto;
  background-position: center -52px;
}

.banner-illustration-heading {
  max-width: 500px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: 13px solid #f16d7f;
  padding-left: 13px;
}

.custom_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin-right: 20px;
}

.custom_column:last-of-type {
  margin-right: 0;
}

.custom_column:last-of-type {
  margin-right: 0;
}

.galery-img {
  width: 100%;
  position: relative;
}

.ofer-img1 {
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 100px;
  width: 100px;
}

.ofer-img2 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  padding-bottom: 10px;
  padding-right: -5px;
}

.some-text {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

.market-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -30px;
}

.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.product-card:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product-card:hover .poduct-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product-link {
  width: 262px;
  display: block;
  text-decoration: none;
}

.product-img {
  width: 100%;
}

.product-text {
  text-align: left;
  padding-left: 14px;
}

.product-name {
  font-size: 13px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 20px;
}

.product-price {
  font-size: 16px;
  color: #f16d7f;
  font-weight: 700;
  text-align: left;
  padding-top: 20px;
}

.add-box {
  display: none;
}

.product-card:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 98px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  text-decoration: none;
  border: 1px solid #ffffff;
}

.cart-ico {
  height: 23px;
  width: 23px;
}

.add-txt {
  padding-left: 13px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  display: block;
  line-height: 23px;
  margin-bottom: 0;
}

.offer-background {
  background-color: #222224;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.vignette-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.vignette {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.offer-text-block {
  position: absolute;
  margin-top: 146px;
  margin-left: 40px;
}

.upcase {
  text-transform: uppercase;
}

.offer-column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.odds-box {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.odds-ico-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.odds {
  width: 260px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-top {
  height: 440px;
  background-image: url(img/footer-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.501961);
}

.left-column {
  width: 50%;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ava {
  size: 100%;
  height: 85px;
  border-radius: 50%;
}

.accost-box {
  padding-left: 28px;
}

.signature {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #f16d7f;
  font-weight: 700;
}

.strips {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strips_product-card {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strip-item__product-card {
  padding: 0;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  border: none;
  color: #d6d6d6;
  margin-right: 12px;
  width: 63px;
}

.strip-item__product-cardhover {
  background-color: #f16d7f;
}

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
}

.subscribe-header {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 54px;
  color: #222224;
  font-weight: 400;
  text-align: center;
}

.subscribe-caption {
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  color: #222224;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}

.form {
  margin-top: 34px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form input {
  width: inherit;
  height: 45px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #e1e1e1;
  border: transparent 1px solid;
  padding-left: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right-width: 0;
}

.brand-info {
  width: 300px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer-nav__head {
  height: 60px;
}

.footer-nav__content {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav__column h3 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 85px;
  text-transform: uppercase;
}

.footer-nav__column ul {
  padding-left: 0;
}

.footer-nav_list {
  list-style: none;
  display: block;
}

.footer-nav_link {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: start;
}

.footer-nav_list:hover .footer-nav_link {
  color: #f16d7f;
}

.column-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
}

.bottom-band {
  background-color: #e6e6e6;
  padding: 24px;
}

.copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.social-networks ul {
  list-style: none;
}

.social-networks li {
  display: inline;
  margin-left: 8px;
}

.social-networks i {
  color: #ffffff;
  font-size: 32px;
}

.social-networks a:hover i {
  color: #f16d7f;
}

.fab:hover {
  color: #f16d7f;
}
/*# sourceMappingURL=style.css.map */