* 
{
    margin: 0;
    padding: 0;
    outline: none;
}
  
p {
    margin: 0;
    padding: 0;
    outline: none;
}

@import "custom-fonts.scss";
@import "marginsAndPaddings";
@import "custom-buttons.scss";
@import "shopCart.scss";




.custom-container{
    overflow: auto;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0px auto 0px auto;
    display: flex;
}
.custom-container_one-column{
    overflow: auto;
    max-width: 1140px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box__displeyFlex__jc-center{
    display: flex;
    justify-content: center;
}

.weidth_100{
    width: 100%;
}
.position__rel{
    position: relative;
}
.position__abs_carousel{
    position: absolute;
    top: 850px;
}

.bakcground_grey{
    background-color: grey;
}
.bakcground_white{
    background-color: white;
}

.header-left{
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: left;       
}

.galery-text-block{    
    background-color: #ffffff;
    position: absolute;
    margin-top: 25px;
    padding: 18px 20px;
}
.galery2_background{
    width: 100%;
    height: 260px;
    background-color: #dadad2;
}
.galery2__position{
    position: absolute;
    right: 0;
    top: 0;
}


.brand-logo { 
    width: 165px;
    height: 51px;
    margin-right: 36px;
}
.header-form{
    display: flex;
    align-items: center;
}
.browse{
    display: block;
    position: relative;
    border-radius: 3px;     
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
    &:hover{
    border:1px solid #f16d7f;
    color: #f16d7f;
    }
    summary {
        display: flex;
        position: relative;
        color: #222222;
        font-size: 14px;
        font-weight: 300;
        line-height: 38px;
        text-align: left;
        letter-spacing: 0.35px;
    }
    &-list__box{
        position: absolute;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
        border: 1px solid #e8e8e8;
        margin-left: -20px;
        display: flex;
    }
    ul{    
        list-style: none;
    }
    li{
        display: block;
        color: #646464;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        padding: 10px 20px;
        &:hover{
            color: #f16d7f;
        }     
    }
}
    
summary::-webkit-details-marker {
    display: none;
}
    
summary::after {
    content: '\25B6';
    padding-right: 0.5em;
    color: #838383;
    padding-left: 10px;
}
  
details[open] > summary::after {
    content: '\25BC';
}

.header-form input[type="text"]{
    width: 317px;
    height: 38px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding-left: 17px;
}



.header-right{    
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: right;   
}


.account { 
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;     
    letter-spacing: 0.38px;
    &:after {
        content: '\25BC';
        padding-right: 0.5em;
        color: #ffffff;
        padding-left: 10px;
    } 
}


.menu-container{
    
    width: 100%;
    background-color: #fff;
    justify-content: center;
}
.menu {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 26px;
    color: #222222;
    font-weight: 700;
    &-list{
        list-style-type: none;
        position: relative;
        &:hover .mega-box{
        display : flex;
        }
        .menu-list:hover .mega-box__last{
            display : flex;

        } 
    }
   

    .menu-link{
        text-decoration: none;
        display: block;
        padding: 20px 25px;
        
        color: #222222;  
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }

}


.mega-box{    
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    &__last{
        right: 0;     
    }
    &::before{
        content: "";
        display: block;
         width: 12px;
        height: 12px;
        background-color: #fff;
        position: absolute;
        top: -8px;  
        transform: rotate( 45deg );
        border-left: 1px solid #e8e8e8;
        border-top: 1px solid #e8e8e8;
    } 
    &__first::before{
        left: 36px;  
    }
    &__last::before{    
        right: 36px;    
    }

}
.item-heading{
    color: #6F6E6E;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
 .mega-item{
    margin-right: 45px;
    &:last-of-type{
        margin-right: 0;
    }   
}
 
 .mega-list{
    list-style-type: none;
}
 .mega-link{
    display: block;
    color: #646464;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    &:hover {
        color: #f16d7f;
    }
}
 

.Page-header {
    background-color: #f8f3f4;
    display: block;
    height: 148px;
    padding: 65px auto;
}
.custom-container_height-148{
    height: 148px;
}
.Page-title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.breadcrumb {
    font-size: 14px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: #636363;
    font-family: "Lato Light";
    font-weight: 300;  
    margin: 0; 
     a{
        text-decoration: none;
        color: #636363;
        font-family: "Lato Light";
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }
    a:hover {
        color: #f16d7f;
    }
}
       

.active {
    display: flex;
    color: #f16d7f;
    font-family: "Lato - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal; 
}
.custom-box{
    display: flex;
    height: 597px;
    max-width: 724px;
}
.singlePage-carousel {
    height: 1200px;
}

.custom-container__jc-center {    
    flex-direction: column;
    justify-content: center;   
}
.custom-container__jc-left {
    flex-direction: column;
    justify-content: left;   
}
.grey-border {
    border: 1px solid #eaeaea;
}

.collection-box{    
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 618px;
    border-bottom: 1px solid #bcbcbc;
}

.collection-type {
    padding-top: 70px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.collection-slogan {
    margin-top: 18px;
    color: #4d4d4d;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.product-description {   
    margin-top: 28px;
    margin-right: 50px;
    display: inline-flex;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    width: 620px;
}
.materialAndDesigner{
    display: flex;
    justify-content: center;
}
.feature-name {
    margin-top: 28px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.feature { 
    color: #b9b9b9;
}
.name { 
    color: #2f2f2f;
}
.productCard-price {
    margin: 40px auto;
    color: #ef5b70;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;     
}

.order { 
    margin: 60px  auto 120px auto ;
    width: 537px;
    &-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    &-card{
        display: flex;
        flex-direction: column;
    }
}

.banner{
    background-color: #e8e8e8;
    height: 613px;
}
.banner-block{
    height: 100%;
    width: 100%;
    background-image: url(img/banner.jpg);
    background-size: auto;
    background-position: center -52px;
 
}
.banner-illustration-heading{
    max-width: 500px;
    align-self: center; 
    display: flex;
    flex-wrap: wrap;
    border-left: 13px solid #f16d7f;
    padding-left: 13px;
}       
.custom_column { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 20px;
    &:last-of-type{
        margin-right: 0;
    }    
}
.custom_column:last-of-type{
    margin-right: 0;
}
.galery-img{
    width: 100%; 
    position: relative;
}
.ofer-img1{
    object-fit: cover;
    padding-left: 100px;
    width: 100px;
}
.ofer-img2{
    object-fit: cover;
    width: 100px;
    padding-bottom: 10px;
    padding-right: -5px;
}
.some-text{
    text-align: center;   
    width: 100%;
    margin-bottom: 60px;
}
.market-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -30px;
}
.product{
    &-card {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        &:hover{
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
            .poduct-img{
            filter: brightness(50%) ;
            }

        }
    }
    &-link{
        width: 262px;
        display: block;
        text-decoration: none;
    }
    &-img{
        width: 100%;
    }
    &-text{
        text-align: left;
        padding-left:  14px ;  
    }
    &-name{
        font-size: 13px;
        color: #222222;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 20px;      
    }
    &-price{
        font-size: 16px;
        color: #f16d7f;
        font-weight: 700;
        text-align: left;
        padding-top: 20px; 
    }
}

.add-box{
    display: none;
}
.product-card:hover .add-box{
    display: flex;    
    width: 100%;
    position: absolute;
    top: 98px;
    display: flex;
    justify-content: center;
}
.add-link{
    
    display: flex;
    padding: 13px;
    text-decoration: none;
    border: 1px solid #ffffff;
}
.cart-ico{
    height: 23px;
    width: 23px;
}
.add-txt{
    padding-left: 13px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    display: block;
    line-height: 23px;
    margin-bottom: 0;
}


.offer-background {
    background-color: #222224;
    width: 100%;
    display: flex;
}
.offer-column-left{
    display: flex;
    width: 100%;
}

.vignette-box{
    display: flex;
    width: 100%;
}
.vignette{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.offer-text-block{
    position: absolute;
    margin-top: 146px;
    margin-left: 40px;
}

.upcase{
   text-transform: uppercase;
}
.offer-column-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: space-around;
}
.odds-box{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
}
.odds-ico-box{
    display: flex;
    width: 110px;
    align-items: flex-start;
    justify-content: center;
}

.odds {
    width: 260px; 
   padding-right: 40px;
   box-sizing: border-box;
}

.footer-top { 
    height: 440px;
    background-image: url(img/footer-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.subscribe {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(242,242,242,0.5019607843137255); 
}

.left-column { 
    width: 50%;
    margin-right: 40px;
    display: flex;
}
.ava { 
    size: 100%;
    height: 85px;  
    border-radius: 50%;
}
.accost-box{
    padding-left: 28px;
}

.signature {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #f16d7f;
    font-weight: 700;
}
.strips {
    margin-top: 40px; 
    display: flex;
}
.strips_product-card{
    margin-top: 14px;
    display: flex;
}
.strip-item__product-card { 
    padding: 0;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    border: none;
    color: #d6d6d6;
    margin-right: 12px;
    width: 63px;
    &hover {
        background-color: #f16d7f;
    }
}

.right-column {
    display: flex ;
    flex-direction: column;
    
    width: 370px;
}

.subscribe-header { 
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 54px;
    color: #222224;
    font-weight: 400;
    text-align: center;
}
.subscribe-caption { 
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
    
    color: #222224;
    font-weight: 400;
    font-family: "Lato";
    text-align: center;
}
.form{
    margin-top: 34px;
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.form input {     
    width: inherit;  
    height: 45px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #e1e1e1;
    border: transparent 1px solid;
    padding-left: 18px;
    box-sizing: border-box;
    border-right-width: 0;
}


.brand-info {
    width: 300px;
}

.footer-nav{
    display: flex;
    width: 100%;
    &__head{
    height: 60px;
    }
    &__content{
        
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__column h3 {
        color: #f16d7f;
        font-size: 18px;
        font-weight: 700;
        line-height: 85px;
        text-transform: uppercase;
    }
    &__column ul{
        padding-left: 0;
    }
    &_list{

        list-style: none;
        display: block;
    }
    
    &_link{
        text-decoration: none;
        color: #898989;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        text-align: start;
    }
    &_list:hover .footer-nav_link{
        color: #f16d7f;
    } 

}


.column-box{
    
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    width: inherit;
}
.bottom-band{
    background-color: #e6e6e6;
    padding: 24px;
}


.copyright {
 align-self: center;
}
.social-networks{
    ul{
    list-style: none;    
    }
    li{
        display: inline;
        margin-left: 8px;
    }
    i{ 
        color: #ffffff;
        font-size: 32px;
    }
     a:hover i {
        color: #f16d7f;
    }
}


.fab:hover {
    color: #f16d7f;
}
